/*
 * footer style
 */
 
footer {
	background-color: #fff;
	height: 60px;
	width: 100%;
	border-top: 1px solid #CCCCCC;
	align-items: center;
	justify-content: center;
	display: flex;
	position: relative;
	bottom: 0;
}