/*
 * === Places class style ===
 */

/* Places style */
.places {
	text-align: center;
}
.places article {
	width: 390px;
	padding: 20px;
	margin: 20px;
	border: 1px solid #ff5a5f;
	border-radius: 4px;
	display: inline-block;
}
.places h2,
.Places h3,
.places h4 {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.places  h1 {
	font-size: 30px;
	text-align: left;
	padding: 5px 0px 5px 20px;
	font-weight: bold;
}

.places .name_price {
	font-size: 30px;
	display: flex;
	justify-content: space-between;
	margin-bottom: 10px;
}

.places article h2 {
	font-weight: bold;
	margin-right: auto;
	margin-left: 120px;
}

.price_by_night {
	color: #ff5a5f;
	border: 4px solid #ff5a5f;
	border-radius: 50%;
	max-width: 80px;
	min-width: 60px;
	height: 60px;
	line-height: 60px;
	padding: 5px;
}

.information {
	width: 100%;
	height: 80px;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	display: flex;
	justify-content: space-around;
	text-align: center;
	font-size: 14px;
}

.information .max_guest {
	background-image: url(../images/guests.png);
}
.information .number_rooms {
	background-image: url(../images/bed.png);
}
.information .number_bathrooms {
	background-image: url(../images/bath.png);
}

.information .max_guest,
.information .number_rooms,
.information .number_bathrooms {
	width: 100px;
	background-position: top;
	background-repeat: no-repeat;
	line-height: 9em;
}

.user,
.description {
	font-size: 16px;
	margin: 5px 0px;
}

.bold {
	font-weight: bold;
}